@model IEnumerable<WebApplication1.Models.Suburb>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @using (Html.BeginForm("Index", "Suburbs", FormMethod.Get))
    {
        <b> Search By:</b>
        @Html.RadioButton("searchBy", "Name", true)<text>Suburb Name</text>
        @Html.RadioButton("searchBy", "City") <text> City </text><br />
        @Html.TextBox("search") <input type="submit" value="Search" />
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SuburbName)
        </th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="2">No Records Found</td>
        </tr>
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.City.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuburbName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SuburbID }) |
                @Html.ActionLink("Details", "Details", new { id = item.SuburbID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SuburbID })
            </td>
        </tr>
    }

</table>
