@model IEnumerable<WebApplication1.Models.Room>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @using (Html.BeginForm("Index", "Rooms", FormMethod.Get))
    {
        <b> Search By:</b>
        @Html.RadioButton("searchBy", "Type", true)<text>Room Type</text>
        @Html.RadioButton("searchBy", "BedSize") <text> Bed Size</text>
        @Html.RadioButton("searchBy", "Venue") <text> Venue </text> <br />
        @Html.TextBox("search") <input type="submit" value="Search" />
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Venue.VenueName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BedSize)
        </th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="5">No Records Found</td>
        </tr>
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Venue.VenueName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BedSize)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RoomID }) |
                @Html.ActionLink("Details", "Details", new { id = item.RoomID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RoomID })
            </td>
        </tr>
    }

</table>
