@model WebApplication1.Models.CheckIn

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CheckIn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoomReservations.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomReservations.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckInDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckInDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CheckInID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
